# Base de données
DATABASE_URL="file:./dev.db"

# Gmail pour l'envoi d'emails
GMAIL_USER="votre-email@gmail.com"
GMAIL_APP_PASSWORD="votre-mot-de-passe-application"

# Google Calendar API
GOOGLE_CALENDAR_ID="votre-calendar-id@group.calendar.google.com"
GOOGLE_CLIENT_EMAIL="votre-service-account@votre-projet.iam.gserviceaccount.com"
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nvotre-clé-privée\n-----END PRIVATE KEY-----\n"
GOOGLE_PROJECT_ID="votre-projet-id"

# URL de l'application
NEXTAUTH_URL="http://localhost:3000"